In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(pd.read_csv('house_price_index.csv'))

df.head()

        tract state_abbr  year annual_change     hpi hpi1990 hpi2000
0  1001020100         AL  1998             .  100.00       .  101.36
1  1001020100         AL  1999         -5.36   94.64       .   95.93
2  1001020100         AL  2000          4.25   98.66       .  100.00
3  1001020100         AL  2001          8.17  106.71       .  108.17
4  1001020100         AL  2002          7.43  114.64       .  116.20

In [4]:
gb = df.groupby(['tract','year']).sum()

gb

                 state_abbr annual_change     hpi hpi1990 hpi2000
tract       year
1001020100  1998         AL             .  100.00       .  101.36
            1999         AL         -5.36   94.64       .   95.93
            2000         AL          4.25   98.66       .  100.00
            2001         AL          8.17  106.71       .  108.17
            2002         AL          7.43  114.64       .  116.20
            2003         AL         -2.29  112.02       .  113.54
            2004         AL          4.90  117.50       .  119.10
            2005         AL         10.06  129.33       .  131.09
            2006         AL          4.09  134.62       .  136.45
            2007         AL         14.58  154.25       .  156.34
            2008         AL         -4.58  147.19       .  149.19
            2009         AL          0.29  147.62       .  149.63
            2010         AL         -9.81  133.14       .  134.95
            2011         AL         -6.66  124.27       .  125.96
            2012         AL          8.16  134.41       .  136.24
            2013         AL         -3.42  129.82       .  131.59
            2014         AL          4.25  135.34       .  137.18
            2015         AL         -0.50  134.66       .  136.49
            2016         AL          4.59  140.84       .  142.75
            2017         AL        -11.32  124.89       .  126.59
            2018         AL          3.97  129.84       .  131.61
1001020200  2003         AL             .  100.00       .       .
            2004         AL          8.98  108.98       .       .
            2005         AL          5.03  114.47       .       .
            2006         AL          4.73  119.89       .       .
            2007         AL          4.13  124.84       .       .
            2008         AL          3.34  129.01       .       .
            2009         AL         -1.96  126.48       .       .
            2010         AL         -5.27  119.82       .       .
            2011         AL         -2.22  117.16       .       .
...                     ...           ...     ...     ...     ...
56045951100 2006         WY         23.01  147.41       .       .
            2007         WY          2.78  151.50       .       .
            2008         WY          6.91  161.97       .       .
            2009         WY         -1.16  160.10       .       .
            2010         WY         -7.57  147.97       .       .
            2011         WY          3.59  153.28       .       .
            2012         WY          8.48  166.27       .       .
            2013         WY         -9.08  151.17       .       .
            2014         WY         16.79  176.56       .       .
            2015         WY         -2.10  172.84       .       .
            2016         WY         -4.82  164.51       .       .
            2017         WY         10.85  182.37       .       .
            2018         WY             .       .       .       .
56045951300 2002         WY             .  100.00       .       .
            2003         WY         -0.43   99.57       .       .
            2004         WY         14.28  113.79       .       .
            2005         WY          8.89  123.91       .       .
            2006         WY         11.05  137.60       .       .
            2007         WY         17.11  161.13       .       .
            2008         WY          8.28  174.47       .       .
            2009         WY         -3.83  167.80       .       .
            2010         WY         -3.37  162.14       .       .
            2011         WY          3.10  167.16       .       .
            2012         WY         -0.20  166.83       .       .
            2013         WY          0.15  167.08       .       .
            2014         WY          4.99  175.42       .       .
            2015         WY         -4.02  168.36       .       .
            2016         WY          6.03  178.52       .       .
            2017         WY          4.36  186.31       .       .
            2018         WY          2.74  191.42       .       .

[1537686 rows x 5 columns]

In [11]:
gb.replace('.' ,"NaN", inplace=True)
gb['hpi'] = gb['hpi'].astype("double")
gb['annual_change']=gb['annual_change'].astype("float")
gb['hpi1990']=gb['hpi1990'].astype("float")
gb['hpi2000']=gb['hpi2000'].astype("float")
gb.dtypes

state_abbr        object
annual_change    float64
hpi              float64
hpi1990          float64
hpi2000          float64
dtype: object

In [ ]:
# final_df = pd.DataFrame()
# for x, df in gb.groupby(level=0):
    
#     df.sort_values(by='year', inplace=True)
#     df.reset_index(inplace=True)
#     df['one_year']=df['hpi'].pct_change(periods=1).shift(-1)
#     df['two_years']=df['hpi'].pct_change(periods=2).shift(-2)
#     df['three_years']=df['hpi'].pct_change(periods=3).shift(-3)
#     df['four_years']=df['hpi'].pct_change(periods=4).shift(-4)
#     df['five_years']=df['hpi'].pct_change(periods=5).shift(-5)
#     df['six_years']=df['hpi'].pct_change(periods=6).shift(-6)
#     df['seven_years']=df['hpi'].pct_change(periods=7).shift(-7)
#     df['eight_years']=df['hpi'].pct_change(periods=8).shift(-8)
#     df['nine_years'] = df['hpi'].pct_change(periods=9).shift(-9)
#     df['ten_years']=df['hpi'].pct_change(periods=10).shift(-10)
    
#     final_df = pd.concat([df, final_df], ignore_index=True)

In [14]:
def percent_change(gb):
    gb['one_year']=gb['hpi'].pct_change(periods=1).shift(-1)
    gb['two_years']=gb['hpi'].pct_change(periods=2).shift(-2)
    gb['three_years']=gb['hpi'].pct_change(periods=3).shift(-3)
    gb['four_years']=gb['hpi'].pct_change(periods=4).shift(-4)
    gb['five_years']=gb['hpi'].pct_change(periods=5).shift(-5)
    
    return gb

In [18]:
gb.groupby(level=0).apply(percent_change)

                 state_abbr  annual_change     hpi  hpi1990  hpi2000  \
tract       year
1001020100  1998         AL            NaN  100.00      NaN   101.36
            1999         AL          -5.36   94.64      NaN    95.93
            2000         AL           4.25   98.66      NaN   100.00
            2001         AL           8.17  106.71      NaN   108.17
            2002         AL           7.43  114.64      NaN   116.20
            2003         AL          -2.29  112.02      NaN   113.54
            2004         AL           4.90  117.50      NaN   119.10
            2005         AL          10.06  129.33      NaN   131.09
            2006         AL           4.09  134.62      NaN   136.45
            2007         AL          14.58  154.25      NaN   156.34
            2008         AL          -4.58  147.19      NaN   149.19
            2009         AL           0.29  147.62      NaN   149.63
            2010         AL          -9.81  133.14      NaN   134.95
            2011         AL          -6.66  124.27      NaN   125.96
            2012         AL           8.16  134.41      NaN   136.24
            2013         AL          -3.42  129.82      NaN   131.59
            2014         AL           4.25  135.34      NaN   137.18
            2015         AL          -0.50  134.66      NaN   136.49
            2016         AL           4.59  140.84      NaN   142.75
            2017         AL         -11.32  124.89      NaN   126.59
            2018         AL           3.97  129.84      NaN   131.61
1001020200  2003         AL           3.97  100.00      NaN   131.61
            2004         AL           8.98  108.98      NaN   131.61
            2005         AL           5.03  114.47      NaN   131.61
            2006         AL           4.73  119.89      NaN   131.61
            2007         AL           4.13  124.84      NaN   131.61
            2008         AL           3.34  129.01      NaN   131.61
            2009         AL          -1.96  126.48      NaN   131.61
            2010         AL          -5.27  119.82      NaN   131.61
            2011         AL          -2.22  117.16      NaN   131.61
...                     ...            ...     ...      ...      ...
56045951100 2006         WY          23.01  147.41   307.53   155.59
            2007         WY           2.78  151.50   307.53   155.59
            2008         WY           6.91  161.97   307.53   155.59
            2009         WY          -1.16  160.10   307.53   155.59
            2010         WY          -7.57  147.97   307.53   155.59
            2011         WY           3.59  153.28   307.53   155.59
            2012         WY           8.48  166.27   307.53   155.59
            2013         WY          -9.08  151.17   307.53   155.59
            2014         WY          16.79  176.56   307.53   155.59
            2015         WY          -2.10  172.84   307.53   155.59
            2016         WY          -4.82  164.51   307.53   155.59
            2017         WY          10.85  182.37   307.53   155.59
            2018         WY          10.85  182.37   307.53   155.59
56045951300 2002         WY          10.85  100.00   307.53   155.59
            2003         WY          -0.43   99.57   307.53   155.59
            2004         WY          14.28  113.79   307.53   155.59
            2005         WY           8.89  123.91   307.53   155.59
            2006         WY          11.05  137.60   307.53   155.59
            2007         WY          17.11  161.13   307.53   155.59
            2008         WY           8.28  174.47   307.53   155.59
            2009         WY          -3.83  167.80   307.53   155.59
            2010         WY          -3.37  162.14   307.53   155.59
            2011         WY           3.10  167.16   307.53   155.59
            2012         WY          -0.20  166.83   307.53   155.59
            2013         WY           0.15  167.08   307.53   155.59
            2014         WY           4.99  175.42   307.53   155.59
            2015         WY          -4.02  168.36   307.53   155.59
            2016         WY           6.03  178.52   307.53   155.59
            2017         WY           4.36  186.31   307.53   155.59
            2018         WY           2.74  191.42   307.53   155.59

                  one_year  two_years  three_years  four_years  five_years
tract       year
1001020100  1998 -0.053600  -0.013400     0.067100    0.146400    0.120200
            1999  0.042477   0.127536     0.211327    0.183643    0.241547
            2000  0.081593   0.161970     0.135415    0.190959    0.310866
            2001  0.074314   0.049761     0.101115    0.211976    0.261550
            2002 -0.022854   0.024948     0.128140    0.174285    0.345516
            2003  0.048920   0.154526     0.201750    0.376986    0.313962
            2004  0.100681   0.145702     0.312766    0.252681    0.256340
            2005  0.040903   0.192685     0.138096    0.141421    0.029460
            2006  0.145818   0.093374     0.096568   -0.010994   -0.076883
            2007 -0.045770  -0.042982    -0.136856   -0.194360   -0.128622
            2008  0.002921  -0.095455    -0.155717   -0.086827   -0.118011
            2009 -0.098090  -0.158176    -0.089487   -0.120580   -0.083187
            2010 -0.066622   0.009539    -0.024936    0.016524    0.011417
            2011  0.081597   0.044661     0.089080    0.083608    0.133339
            2012 -0.034149   0.006919     0.001860    0.047839   -0.070828
            2013  0.042520   0.037282     0.084887   -0.037976    0.000154
            2014 -0.005024   0.040638    -0.077213   -0.040638         NaN
            2015  0.045893  -0.072553    -0.035794         NaN         NaN
            2016 -0.113249  -0.078103          NaN         NaN         NaN
            2017  0.039635        NaN          NaN         NaN         NaN
            2018       NaN        NaN          NaN         NaN         NaN
1001020200  2003  0.089800   0.144700     0.198900    0.248400    0.290100
            2004  0.050376   0.100110     0.145531    0.183795    0.160580
            2005  0.047349   0.090591     0.127020    0.104918    0.046737
            2006  0.041288   0.076070     0.054967   -0.000584   -0.022771
            2007  0.033403   0.013137    -0.040211   -0.061519   -0.073774
            2008 -0.019611  -0.071235    -0.091853   -0.103713   -0.114642
            2009 -0.052657  -0.073688    -0.085784   -0.096932   -0.037634
            2010 -0.022200  -0.034969    -0.046737    0.015857    0.105074
            2011 -0.013059  -0.025094     0.038921    0.130164    0.130164
...                    ...        ...          ...         ...         ...
56045951100 2006  0.027746   0.098772     0.086086    0.003799    0.039821
            2007  0.069109   0.056766    -0.023300    0.011749    0.097492
            2008 -0.011545  -0.086436    -0.053652    0.026548   -0.066679
            2009 -0.075765  -0.042598     0.038538   -0.055778    0.102811
            2010  0.035886   0.123674     0.021626    0.193215    0.168075
            2011  0.084747  -0.013766     0.151879    0.127610    0.073265
            2012 -0.090816   0.061887     0.039514   -0.010585    0.096830
            2013  0.167957   0.143349     0.088245    0.206390    0.206390
            2014 -0.021069  -0.068249     0.032907    0.032907         NaN
            2015 -0.048195   0.055138     0.055138         NaN         NaN
            2016  0.108565   0.108565          NaN         NaN         NaN
            2017  0.000000        NaN          NaN         NaN         NaN
            2018       NaN        NaN          NaN         NaN         NaN
56045951300 2002 -0.004300   0.137900     0.239100    0.376000    0.611300
            2003  0.142814   0.244451     0.381942    0.618259    0.752235
            2004  0.088936   0.209245     0.416030    0.533263    0.474646
            2005  0.110483   0.300379     0.408038    0.354209    0.308530
            2006  0.171003   0.267951     0.219477    0.178343    0.214826
            2007  0.082790   0.041395     0.006268    0.037423    0.035375
            2008 -0.038230  -0.070671    -0.041898   -0.043790   -0.042357
            2009 -0.033731  -0.003814    -0.005781   -0.004291    0.045411
            2010  0.030961   0.028926     0.030467    0.081905    0.038362
            2011 -0.001974  -0.000479     0.049414    0.007179    0.067959
            2012  0.001499   0.051490     0.009171    0.070071    0.116766
            2013  0.049916   0.007661     0.068470    0.115095    0.145679
            2014 -0.040246   0.017672     0.062080    0.091210         NaN
            2015  0.060347   0.106617     0.136968         NaN         NaN
            2016  0.043637   0.072261          NaN         NaN         NaN
            2017  0.027427        NaN          NaN         NaN         NaN
            2018       NaN        NaN          NaN         NaN         NaN

[1537686 rows x 10 columns]