# Population by County

In [ ]:
import pandas as pd

In [4]:
#Read in the population data 
df = pd.DataFrame(pd.read_csv('../data/Population_Estimate.csv'))

df.head()

,Id,Id2,Geography,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017,Population Estimate (as of July 1) - 2018
0,0500000US01001,1001,"Autauga County, Alabama",54571,54574,54754,55208,54936,54713,54876,54838,55242,55443,55601
1,0500000US01003,1003,"Baldwin County, Alabama",182265,182264,183111,186540,190143,194886,199189,202995,207712,212619,218022
2,0500000US01005,1005,"Barbour County, Alabama",27457,27457,27330,27350,27174,26944,26758,26294,25819,25158,24881
3,0500000US01007,1007,"Bibb County, Alabama",22915,22920,22872,22747,22664,22516,22541,22562,22576,22555,22400
4,0500000US01009,1009,"Blount County, Alabama",57322,57321,57373,57554,57570,57611,57521,57522,57517,57827,57840

In [5]:
# Creating a datafram of the population data
df = pd.DataFrame(df)
df.head()

,Id,Id2,Geography,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017,Population Estimate (as of July 1) - 2018
0,0500000US01001,1001,"Autauga County, Alabama",54571,54574,54754,55208,54936,54713,54876,54838,55242,55443,55601
1,0500000US01003,1003,"Baldwin County, Alabama",182265,182264,183111,186540,190143,194886,199189,202995,207712,212619,218022
2,0500000US01005,1005,"Barbour County, Alabama",27457,27457,27330,27350,27174,26944,26758,26294,25819,25158,24881
3,0500000US01007,1007,"Bibb County, Alabama",22915,22920,22872,22747,22664,22516,22541,22562,22576,22555,22400
4,0500000US01009,1009,"Blount County, Alabama",57322,57321,57373,57554,57570,57611,57521,57522,57517,57827,57840

In [6]:
# Removing unnecessary columns
pop_clean = df.drop(['Id','April 1, 2010 - Census', 'April 1, 2010 - Estimates Base'], axis=1)
pop_clean.head()

,Id2,Geography,Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017,Population Estimate (as of July 1) - 2018
0,1001,"Autauga County, Alabama",54754,55208,54936,54713,54876,54838,55242,55443,55601
1,1003,"Baldwin County, Alabama",183111,186540,190143,194886,199189,202995,207712,212619,218022
2,1005,"Barbour County, Alabama",27330,27350,27174,26944,26758,26294,25819,25158,24881
3,1007,"Bibb County, Alabama",22872,22747,22664,22516,22541,22562,22576,22555,22400
4,1009,"Blount County, Alabama",57373,57554,57570,57611,57521,57522,57517,57827,57840

In [7]:
# Remaning the columns 
pop_clean = pop_clean.rename(columns={"Population Estimate (as of July 1) - 2010": "2010",
                                      "Population Estimate (as of July 1) - 2011": "2011",
                                      "Population Estimate (as of July 1) - 2012": "2012",
                                      "Population Estimate (as of July 1) - 2013": "2013",
                                      "Population Estimate (as of July 1) - 2014": "2014",
                                      "Population Estimate (as of July 1) - 2015": "2015",
                                      "Population Estimate (as of July 1) - 2016": "2016",
                                      "Population Estimate (as of July 1) - 2017": "2017",
                                      "Population Estimate (as of July 1) - 2018": "2018",
                                     }) 
# Creating new datafram with the cleaned columns    
pop_clean = pop_clean[["Id2", "Geography", "2010", "2011", "2012", "2013","2014", "2015", "2016", "2017", "2018"]]
pop_clean.head()

,Id2,Geography,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,1001,"Autauga County, Alabama",54754,55208,54936,54713,54876,54838,55242,55443,55601
1,1003,"Baldwin County, Alabama",183111,186540,190143,194886,199189,202995,207712,212619,218022
2,1005,"Barbour County, Alabama",27330,27350,27174,26944,26758,26294,25819,25158,24881
3,1007,"Bibb County, Alabama",22872,22747,22664,22516,22541,22562,22576,22555,22400
4,1009,"Blount County, Alabama",57373,57554,57570,57611,57521,57522,57517,57827,57840

In [8]:
#Reshape the dataframe so the that "years" columns are transposed into rows grouped by Id2 and Year
pop_stacked = pop_clean.set_index(['Id2', 'Geography']).stack().reset_index().rename({'level_2': 'year', 0: 'pop_chg_yoy'}, axis=1)
pop_stacked.head()

    Id2                Geography  year  pop_chg_yoy
0  1001  Autauga County, Alabama  2010        54754
1  1001  Autauga County, Alabama  2011        55208
2  1001  Autauga County, Alabama  2012        54936
3  1001  Autauga County, Alabama  2013        54713
4  1001  Autauga County, Alabama  2014        54876

In [9]:
#Rearange the datafram so the the ID2 and year are listed first
pop_group = pop_stacked[['Id2', 'year', 'Geography', 'pop_chg_yoy']]
pop_group.head()

    Id2  year                Geography  pop_chg_yoy
0  1001  2010  Autauga County, Alabama        54754
1  1001  2011  Autauga County, Alabama        55208
2  1001  2012  Autauga County, Alabama        54936
3  1001  2013  Autauga County, Alabama        54713
4  1001  2014  Autauga County, Alabama        54876

In [10]:
#Calculated the population percent change for one year 
pc1= pop_group['one_year']=pop_group['pop_chg_yoy'].pct_change(periods=1)

pc1.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0         NaN
1    0.008292
2   -0.004927
3   -0.004059
4    0.002979
Name: pop_chg_yoy, dtype: float64

In [11]:
#Calculated the population percent change for two years 
pc2= pop_group['two_years']=pop_group['pop_chg_yoy'].pct_change(periods=2)

pc2.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0         NaN
1         NaN
2    0.003324
3   -0.008966
4   -0.001092
Name: pop_chg_yoy, dtype: float64

In [12]:
#Calculated the population percent change for three years 
pc3= pop_group['three_years']=pop_group['pop_chg_yoy'].pct_change(periods=3)

pc3.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0         NaN
1         NaN
2         NaN
3   -0.000749
4   -0.006014
Name: pop_chg_yoy, dtype: float64

In [13]:
#Calculated the population percent change for four years
pc4= pop_group['four_years']=pop_group['pop_chg_yoy'].pct_change(periods=4)

pc4.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0         NaN
1         NaN
2         NaN
3         NaN
4    0.002228
Name: pop_chg_yoy, dtype: float64

In [14]:
#Calculated the population percent change for five years
pc5= pop_group['five_years']=pop_group['pop_chg_yoy'].pct_change(periods=5)

pc5.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: pop_chg_yoy, dtype: float64

In [15]:
#Final populations change dataframe
pop_group.head()

,Id2,year,Geography,pop_chg_yoy,one_year,two_years,three_years,four_years,five_years
0,1001,2010,"Autauga County, Alabama",54754,NaN,NaN,NaN,NaN,NaN
1,1001,2011,"Autauga County, Alabama",55208,0.008292,NaN,NaN,NaN,NaN
2,1001,2012,"Autauga County, Alabama",54936,-0.004927,0.003324,NaN,NaN,NaN
3,1001,2013,"Autauga County, Alabama",54713,-0.004059,-0.008966,-0.000749,NaN,NaN
4,1001,2014,"Autauga County, Alabama",54876,0.002979,-0.001092,-0.006014,0.002228,NaN

In [135]:
#saving the dataframe to a csv file
pop_group.to_csv('Population_Change.csv')