In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame(pd.read_csv('house_price_index.csv'))

df.head()

        tract state_abbr  year annual_change     hpi hpi1990 hpi2000
0  1001020100         AL  1998             .  100.00       .  101.36
1  1001020100         AL  1999         -5.36   94.64       .   95.93
2  1001020100         AL  2000          4.25   98.66       .  100.00
3  1001020100         AL  2001          8.17  106.71       .  108.17
4  1001020100         AL  2002          7.43  114.64       .  116.20

In [7]:
gb = df.groupby(['tract','year']).sum()

gb

                 state_abbr annual_change     hpi hpi1990 hpi2000
tract       year
1001020100  1998         AL             .  100.00       .  101.36
            1999         AL         -5.36   94.64       .   95.93
            2000         AL          4.25   98.66       .  100.00
            2001         AL          8.17  106.71       .  108.17
            2002         AL          7.43  114.64       .  116.20
            2003         AL         -2.29  112.02       .  113.54
            2004         AL          4.90  117.50       .  119.10
            2005         AL         10.06  129.33       .  131.09
            2006         AL          4.09  134.62       .  136.45
            2007         AL         14.58  154.25       .  156.34
            2008         AL         -4.58  147.19       .  149.19
            2009         AL          0.29  147.62       .  149.63
            2010         AL         -9.81  133.14       .  134.95
            2011         AL         -6.66  124.27       .  125.96
            2012         AL          8.16  134.41       .  136.24
            2013         AL         -3.42  129.82       .  131.59
            2014         AL          4.25  135.34       .  137.18
            2015         AL         -0.50  134.66       .  136.49
            2016         AL          4.59  140.84       .  142.75
            2017         AL        -11.32  124.89       .  126.59
            2018         AL          3.97  129.84       .  131.61
1001020200  2003         AL             .  100.00       .       .
            2004         AL          8.98  108.98       .       .
            2005         AL          5.03  114.47       .       .
            2006         AL          4.73  119.89       .       .
            2007         AL          4.13  124.84       .       .
            2008         AL          3.34  129.01       .       .
            2009         AL         -1.96  126.48       .       .
            2010         AL         -5.27  119.82       .       .
            2011         AL         -2.22  117.16       .       .
...                     ...           ...     ...     ...     ...
56045951100 2006         WY         23.01  147.41       .       .
            2007         WY          2.78  151.50       .       .
            2008         WY          6.91  161.97       .       .
            2009         WY         -1.16  160.10       .       .
            2010         WY         -7.57  147.97       .       .
            2011         WY          3.59  153.28       .       .
            2012         WY          8.48  166.27       .       .
            2013         WY         -9.08  151.17       .       .
            2014         WY         16.79  176.56       .       .
            2015         WY         -2.10  172.84       .       .
            2016         WY         -4.82  164.51       .       .
            2017         WY         10.85  182.37       .       .
            2018         WY             .       .       .       .
56045951300 2002         WY             .  100.00       .       .
            2003         WY         -0.43   99.57       .       .
            2004         WY         14.28  113.79       .       .
            2005         WY          8.89  123.91       .       .
            2006         WY         11.05  137.60       .       .
            2007         WY         17.11  161.13       .       .
            2008         WY          8.28  174.47       .       .
            2009         WY         -3.83  167.80       .       .
            2010         WY         -3.37  162.14       .       .
            2011         WY          3.10  167.16       .       .
            2012         WY         -0.20  166.83       .       .
            2013         WY          0.15  167.08       .       .
            2014         WY          4.99  175.42       .       .
            2015         WY         -4.02  168.36       .       .
            2016         WY          6.03  178.52       .       .
            2017         WY          4.36  186.31       .       .
            2018         WY          2.74  191.42       .       .

[1537686 rows x 5 columns]

In [8]:
gb.reset_index(level=[1], inplace=True)
final_df = pd.DataFrame()
for x, df in gb.groupby(level=0):
    
    df.sort_values(by='year', inplace=True)
    df.reset_index(inplace=True)
    df['one_year']=df['hpi'].pct_change(periods=1).shift(-1)
    df['two_years']=df['hpi'].pct_change(periods=2).shift(-2)
    df['three_years']=df['hpi'].pct_change(periods=3).shift(-3)
    sd['four_years']=df['hpi'].pct_change(periods=4).shift(-4)
    df['five_years']=df['hpi'].pct_change(periods=5).shift(-5)
    df['six_years']=df['hpi'].pct_change(periods=6).shift(-6)
    df['seven_years']=df['hpi'].pct_change(periods=7).shift(-7)
    df['eight_years']=df['hpi'].pct_change(periods=8).shift(-8)
    df['nine_years'] = df['hpi'].pct_change(periods=9).shift(-9)
    df['ten_years']=df['hpi'].pct_change(periods=10).shift(-10)
    
    final_df = pd.concat([new_df, final_df], ignore_index=True)

C:\Users\nilay\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [10]:
gb

year              int64
state_abbr       object
annual_change    object
hpi              object
hpi1990          object
hpi2000          object
dtype: object