In [7]:
import requests
import json
import pandas as pd

base_url = 'https://api.census.gov/data/2017/acs/acs5?'

# base_url = 'https://api.census.gov/data/2017/acs/acs5?get=B01001_001E,NAME&for=tract:*&in=state:01&key=YOUR_KEY_GOES_HERE'

# get=B01001_001E,NAME&for=county:*&in=state:*&key=YOUR_KEY_GOES_HERE

api_key = '576d87411db9ec3effb267049310db27081ecfaf'

In [123]:
variables = {
    'population':'B01003_001E',
    "median_age": "B01002_001E", 
    "poverty_count":'B17001_002E',
    'housing_units': 'B00002_001E',
    'born_population':'B05002_001E',
    'native_born': 'B05002_002E',
    'foreign_born': 'B05002_013E',
    'naturalized': 'B05002_014E',
    'geographic_mobility': 'B07001_001E',
    'movers': 'B07101_001E',
    'under_18':'B09001_001E',
#     'living_arragnemnts_total':'B09021_001E',
#     'lives_alone':'B09021_002E',
#     'lives_spouse':'B09021_003E',
#     'lives_partner':'B09021_004E',
    'household_type':'B11001_001E',
    'family_household':'B11001_002E',
    'nonfamily_household':'B11001_007E',
    'married_household':'B11001_003E',
    'housing_units':'B25001_001E',
    'occupancy_status_total':'B25002_001E',
    'occupied':'B25002_002E',
    'vacant': 'B25002_003E',
    'tenure':'B25003_001E',
    'owner_tenure':'B25003_002E',
    'renter_tenure': 'B25003_003E',
    'median_rooms':'B25018_001E',
    'aggregate_rooms': 'B25019_001E',
    'units_total':'B25024_001E',
    'single_detached': 'B25024_002E',
    'single_attached': 'B25024_003E',
    'two_units': 'B25024_004E',
    'three4_units': 'B25024_005E',
    'five9_units': 'B25024_006E',
    'ten19_units': 'B25024_007E',
    'twenty49_units': 'B25024_008E',
    'fiftyplus_units': 'B25024_009E',
    'median_year_built':'B25035_001E',
    'bedrooms_total':'B25041_001E',
    'one_room': 'B25041_002E',
    'two_rooms': 'B25041_003E',
    'three_rooms': 'B25041_004E',
    'four_rooms': 'B25041_005E',
    'fiveplus_rooms': 'B25041_006E',
    'median_rent':'B25064_001E',
    'aggregate_rent': 'B25065_001E',
    
}

v = variables.values()
var = dict((v,k) for k,v in variables.items())
url = 'https://api.census.gov/data/2009/acs/acs5?' + 'get=' + ','.join(v) +'&for=county:*&in=state:*&key=' + api_key


print(url)

https://api.census.gov/data/2009/acs/acs5?get=B01003_001E,B01002_001E,B17001_002E,B25001_001E,B05002_001E,B05002_002E,B05002_013E,B05002_014E,B07001_001E,B07101_001E,B09001_001E,B11001_001E,B11001_002E,B11001_007E,B11001_003E,B25002_001E,B25002_002E,B25002_003E,B25003_001E,B25003_002E,B25003_003E,B25018_001E,B25019_001E,B25024_001E,B25024_002E,B25024_003E,B25024_004E,B25024_005E,B25024_006E,B25024_007E,B25024_008E,B25024_009E,B25035_001E,B25041_001E,B25041_002E,B25041_003E,B25041_004E,B25041_005E,B25041_006E,B25064_001E,B25065_001E&for=county:*&in=state:*&key=576d87411db9ec3effb267049310db27081ecfaf

In [124]:

response = requests.get(url)

# r = response.json()
response

In [117]:
r = response.json()
headers = r.pop(0)

df1 = pd.DataFrame(r, columns=headers)

df1.count()

B01003_001E    3221
B01002_001E    3221
B17001_002E    3221
B25001_001E    3221
B05002_001E    3221
B05002_002E    3221
B05002_013E    3221
B05002_014E    3221
B07001_001E    3143
B07101_001E       0
B09001_001E    3221
B11001_001E    3221
B11001_002E    3221
B11001_007E    3221
B11001_003E    3221
B25002_001E    3221
B25002_002E    3221
B25002_003E    3221
B25003_001E    3221
B25003_002E    3221
B25003_003E    3221
B25018_001E    3221
B25019_001E    3221
B25024_001E    3221
B25024_002E    3221
B25024_003E    3221
B25024_004E    3221
B25024_005E    3221
B25024_006E    3221
B25024_007E    3221
B25024_008E    3221
B25024_009E    3221
B25035_001E    3221
B25041_001E    3221
B25041_002E    3221
B25041_003E    3221
B25041_004E    3221
B25041_005E    3221
B25041_006E    3221
B25064_001E    3221
B25065_001E    3220
state          3221
county         3221
dtype: int64

In [118]:
for x in df1.columns:
    df1 = df1.rename(columns = {
        x: var[x]
    })

KeyError: 'state'

In [119]:
df1['year'] = 2010

In [120]:
df1.head()

,population,median_age,poverty_count,housing_units,born_population,native_born,foreign_born,naturalized,geographic_mobility,movers,...,one_room,two_rooms,three_rooms,four_rooms,fiveplus_rooms,median_rent,aggregate_rent,state,county,year
0,250699,29.3,53738,83089,250699,188498,62201,21459,246169,None,...,1556,6041,19039,37995,15592,798,25618800,06,047,2010
1,9605,45.4,1709,5133,9605,8971,634,237,9539,None,...,88,367,1743,2287,564,560,743300,06,049,2010
2,13905,36.5,1664,13802,13905,11341,2564,715,13808,None,...,898,2691,4699,4016,1289,1029,2377000,06,051,2010
3,407435,32.8,54276,138833,407435,284647,122788,35597,401432,None,...,2657,17562,40415,52979,21155,1123,69298300,06,053,2010
4,134051,39.4,12948,54306,134051,103891,30160,11395,132520,None,...,1425,6348,16065,19742,8598,1211,21115900,06,055,2010

In [121]:
master_df = pd.concat([master_df, df1], ignore_index=True)

C:\Users\nilay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [122]:
master_df.year.unique()

array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010], dtype=int64)

In [127]:
final_df = master_df.drop(['lives_alone','lives_partner','lives_spouse','living_arragnemnts_total','movers'], axis=1)

In [132]:
final_df['county_code'] = final_df['state'].astype('str') + final_df['county'].astype('str')

In [134]:
final_df.to_csv('../data/complete_census.csv')